html,
body {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  // transform-style: preserve-3d;

  background-color: #333;
}

.card {
  position: relative;
  overflow: hidden;
  // width: 70vw;
  // height: 50vh;
  width: 70vw;
  height: auto;
  background-color: #000;
  // transform: skewX(45deg);

  img {
    width: 100%;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    filter: contrast(3);
  }
}

.card-shine {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    // background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, transparent 60%);
}